

<form action="/create" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Name : <input type="text" name="employee_name"/> </label></div>
    <div><label> Surname : <input type="text" name="surname"/> </label></div>
    <div><label> Patronymic : <input type="text" name="patronymic"/> </label></div>
    <div><label> Birth date : <input type="text" name="birthDate"/> </label></div>
    <div><label> Position : <input type="text" name="position"/> </label></div>
    <div><label> IIN : <input type="text" name="iin"/> </label></div>

    <select name="role">
        {{#roles}}
            <option value = "{{.}}">
                {{.}}
            </option>
        {{/roles}}
    </select>

    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign In"/></div>
</form>